.cap{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding:5px;
  }
  
  .gallery-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100vw;
    padding: 25px; */
    /*justify-content: space-between;
    /* display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; */
   }

  
    
  .photos-head {
    font-size: 45px;
    line-height: 1;
    text-align: center;
    padding: 30px 0;
    grid-row:1/span 1;
    grid-column:1;}
    
    .deepshadow h2{
      color: black;
      background-color: hotpink;
      letter-spacing: .14em;
      text-align:center;
      text-shadow: 
        0 -1px 0 #bbbbbb, 
        0 22px 30px rgba(0, 0, 0, 0.9);
        margin-bottom:5px;
  
    } 
  
  
  .gallery-container img:hover{
    filter: grayscale(100%);
  }
  
  
  .gallery-container img{ 
    width: 95%;
    height: auto;
    /* height:300px; */
    justify-content: center;
    margin: 0 auto;
    margin-left: 2.5%;
    border:2px solid purple;

  }
  
  
  @media all and (min-width:780px){
    .gallery-container {
    grid-template-columns: 1fr 1fr;
  }
  }
  
  @media all and (min-width:1024px){
    .gallery-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  } 
  