html{
    scroll-behavior: smooth;
}


.container{
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto auto auto auto;
  }


body{
    background-color:#E6E6FA;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .nav{
    display: block;
  }

/* CSS Index page */
 .nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B0E0E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
  }

  .nav li{
    /* float: left; */
    border-right: 1px solid #bbb;
    width: 100%;
}

li a {
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
}

:focus{
  border:2px solid #bbb;
}

  nav a:hover, nav a:focus{
    background-color: #eaf7f8;
  }


  .skip a{
    background: white;
    left: 0;
    padding: 3px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    text-decoration: none; 
    position: absolute;
    top: -40px;
  }
  
  /*Your Code Here*/
  /*Write selector/rule property to position the skip class element*/
  .skip a:focus{
    top: 0px;
  }

  .current{
    text-transform: uppercase;
    background-color: white;
  }
  
  footer{
    color: black;
    padding-top: 10px;
    text-align: center;
    height:10%;
    background-color:#B0E0E6;
    width:100%;
  }

  .index-head{
    text-align: center;
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
   grid-row:1/span 1;
   grid-column:2/span 1;
  }



.words{
  display: flex;
  padding:10px;
  flex-direction: column;
}

.words p{
  padding:20px;
}

.words h3{
  text-decoration: underline;
}

.at-container h2{
  font-size: 25px;
  text-align: center;
  grid-row:1/span 1;
  grid-column:2/span 1;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;

}

  div.at-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid #black;
    font-size: 150%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
 .anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
} 

/* .anim-typewriter{
  animation: typewriter 8s steps(22) 2s 1 normal both,
             blinkTextCursor 1000ms steps(22) infinite normal;
} */

@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}


/* Flip Card: https://www.w3schools.com/howto/howto_css_flip_card.asp */ 

.coursework-image img{
  width: 400px;
  height: 300px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  justify-content: center;
}

.coursework-head{
  font-size: 50px;
  line-height: 1;
  text-align: center;
  padding: 50px 0;
  grid-row:1/span 1;
  grid-column:2/span 1;
}

.coursework-head h1{
  grid-row:1/span 1;
  grid-column:2/span 1;
}

.coursework-image{
  grid-row:2/span 1;
  grid-column:2/ span 1;
  justify-self:center;
  margin:0;
}

.course-words{
  grid-row:3/span 1;
  grid-column:1/span 3;
  padding:10px
}

.course-words h2{
  text-decoration: underline;
}

.course-words p {
  padding: 20px;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  justify-content: center;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color:white;
  color: navy;
  transform: rotateY(180deg);
}


/* Experience CSS */

.experience-head{
  font-size: 50px;
  line-height: 1;
  text-align: center;
  padding: 50px 0;
  grid-row:1/span 1;
  grid-column:2/span 1;
  background-attachment: fixed; 
  background-image: url('../images/work-experience.jpg');  
  background-position: center;  
  background-repeat: no-repeat; 
  background-size: cover;       
  color: black;
  height: 600px;             
}

.experience-images{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  justify-content: center;
}

.experience-images img{
  margin: auto;
  border: 3px solid grey;
}

.classranked-words, .hyfit-words, .mam-words, .tmd-words{
  grid-row:3/span 1;
  grid-column:1/span 3;
  padding:20px
}

.classranked-words p{
  padding-top: 10px;
}

.hyfit-words p{
  padding-top: 10px;
}

.mam-words p{
  padding-top: 10px;
}

.tmd-words p{
  padding-top: 10px;
}

.classranked-words h2{
  text-decoration: underline;
}

.hyfit-words h2{
  text-decoration: underline;
}

.mam-words h2{
  text-decoration: underline;
}

.tmd-words h2{
  text-decoration: underline;
}





/*contact me page*/

.contact-head{
  font-size: 50px;
  line-height: 1;
  text-align: center;
  padding: 50px 0;
  grid-row:1/span 1;
  grid-column:2/span 1;
}

.contact-me-words h2{
  font-size: 30px;
  line-height: 1;
  text-align: center;
  padding: 50px;
  grid-row:1/span 1;
  grid-column:2/span 1;
}


form {
  border: 3px solid purple;
}

legend{ 
  font-size: 125%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
}

label{
  display: inline-block;
  margin-right:10px;
  width:15%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
}

textarea{
  width: 100%;
  height: 35vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=submit] {
  background-color:rgb(149, 93, 187);
  color: white;
  padding: 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  align-content: center;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/*Gallery CSS*/



/* Iphone  */
@media only screen and (min-device-width: 812px) 
 {
  .nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B0E0E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
  }

  .experience-images{
    grid-template-columns: 1fr 2fr;
  }
  .experience-images img{
    grid-column-start: 1;
    order: -1;
  }
  .experience-images div{
    grid-column-start: 2;
  }

  form{
    width: 80%;
    margin: 0 auto;
  }

  input{
    width:80%;
  }

  textarea{
    width:80%;
    height: 25vh;
 }
 
 div + label{
    line-height: 25vh;
    vertical-align:top;
 }


}

/* Ipad */
@media all and (min-width:1024px){
  .nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B0E0E6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid;
   
  }

 
}

@media (prefers-reduced-motion: reduce) {
  .anim-typewriter{
    animation: none;
    -webkit-animation: none;
  }
}
